/* добавили 3 шрифта на страницу локально*/

@font-face{
	font-family: 'Merriweather Sans', sans-serif;
	src:url(../fonts/Merriweather_Sans/MerriweatherSans-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'PT Sans Caption', sans-serif;
	src:url(../fonts/PT_Sans_Caption/PT_Sans-Caption-Web-Bold.ttf);
	font-weight: bold;
	font-style: normal;
}

@font-face{
	font-family: 'PT Sans Caption', sans-serif;
	src:url(../fonts/PT_Sans_Caption/PT_Sans-Caption-Web-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}

html, body{ 
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	box-sizing:border-box;
}

/*по умолчанию картинка имеет отступы, нужно задать ей
display:block/inline-block; */
img{
	display: inline-block;
	/*max-width: 100%; - ширина не превышает родителя */
}

/* все элементы наследуют значение свойства у родительского элемента

*, *:before, *:after{
	box-sizing: inherit;
}

*/

*{
	box-sizing: border-box;
}

ul, ol{
	list-style-type:none;

}

.container{
	max-width: 1140px;
	margin:auto;

}


.col{
	max-width: 360px;  /* ширина колонки в Photoshop */
	margin-right: 30px;  /* отступ справа м/у колонками в Photoshop */
}

			/* СДЕЛАЕМ КОЛОНКИ В РЯД */

/*

			вариант №1 - "используем float"

шаг 1: выровним колонки в ряд с помощью float:left; 
	
.col {
	float:left;

}

шаг 2: тк мы задали отступ справа 30px для всех трёх колонок,то
	по ширине последняя колонка не помещается. Уберем у ней
	отступ справа с помощью .col:last-child 

.col:last-child{
	margin-right:0px;

}

 шаг 3: сделаем сброс от float указав родителю след-ие свойства
.row:after{
	content:"";
	clear: both;
	display: table;
}

*/

		/* вариант №2 - "используем FLEX" */

.row{
	display: flex;
	justify-content: center;
	align-items: center;
	/*flex-wrap: wrap;*/

}


			/* HEADER START */


/* фоновая картинка и необходимые свойства к ней */
#header{
	background-color: #3b4f88;
	background-image: url('../images/bg/bg-header.jpg');
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
	
	height: 100vh; /*100vh - это 100% от окна, которого мы просматриваем сайт (от Браузера)
	На все занимаемое пространство*/
	
	color: white;/* цвет шрифта у текста белый*/
	text-align:center;/*отцентрировали текст по горизонтале*/

	display: flex;  /*нужен, чтобы в дальнейшем задать свойства для выровнивания всех div по вертикале*/
	flex-direction: column;
	align-items: center; /*выравнивание по вертикале*/
	justify-content: center; /*выравнивание по горизонтали*/

	position: relative;/*задали,тк стрелку позиционировали absolute*/
}

.header__title{
	font-family: 'Merriweather Sans', sans-serif;
	font-size:3rem;
	line-height: 1.7;
	margin-top: -90px;/*приподняли блок наверх*/
	margin-bottom: 20px;

}

.header__slogan{
	font-size:1.5rem;
	line-height: 1.5;

}

.header__arrow{
	font-size: 48px;
	width: 60px;
	height: 50px;
	margin-left: -30px;/*половина от width*/


	position: absolute;/*нужно,чтобы опустить стрелку вниз по центру блока-родителя header*/
	bottom: 50px;/*нужно,чтобы опустить стрелку вниз блока-родителя header*/
	left:50%;/*нужно,чтоб отцентрить. те слева отошли половину окна браузера и нарисовали стрелку*/
	
}

				/* PORTFOLIO START */

/*тк в Портфолио и Подвале есть разметка по 3 блока и каждый  
из этих длоков имеет одинаковую ширину - 
мы напишем один универсальный класс для всех шести блоков */

.portfolio{
	padding-top:70px; 
	padding-bottom: 100px;
}

.portfolio__title{
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 60px;

}

/*добавили класс portfolio__item  на случай если в дальнейшем 
захотит добавить еще несколько рядов с работами и 
м/у ними были отступы*/
.portfolio__item{
	margin-bottom: 20px;
}


.portfolio__item-img{
	margin-bottom: 17px;
}

/*выберем все изображения внутри данного контейнера с классом .
portfolio__item-img*/

.portfolio__item-img img{ 
	max-width: 100%;/*макс.ширина изображения может быть 
равна 100% ширины контейнеры в котором она лежит. 
Если ширина контейнера будет меньше ширины картинки, то картинка
должна будет подстоиться по ширине*/
	
	height: auto;/*высота картинки будет пропорц-но 
масштабироваться относительно ширины*/

}

.portfolio__item-title{
	font-size:1.3rem;
	line-height: normal;
	margin-bottom:5px;

}
/*выберем ссылку и зададим для нее свойства*/
.portfolio__item-title a{
	text-decoration: none;
	color:black;
	border-bottom:1px solid white;

	transition: 0.3s ease-out;

}
/*опишем поведение ссылки по наведенению на неё мыши*/
.portfolio__item-title a:hover{
	color:#0052c2;
	border-color: rgba(0, 82, 194, 0.3);/*0.3 - это насыщщеность = 30%*/
}

/*выберем абзац и зададим для него свойства*/
.portfolio__item-text p{
	margin-bottom: 15px;
	margin-top: 0;/*уберем отступ, тк по умолчанию нормалайз делает оступы*/

}


		 /* PORTFOLIO SINGLE PAGE START */

.portfolio__single-page{
	padding-top: 50px;
	padding-bottom:50px;
	text-align:center;
}

.portfolio__single-page img{
	margin-bottom: 50px;
	max-width: 100%;/*чтобы картинка не выходила за границы своего container 
	и не появилось горизонт. прокручивания */
	height:auto;
	/*display:block;*/ /*чтобы кнопка и картинка не находилась на одной линии
	а перешла на след. строчку*/
}
			
.button-back{
	font-weight: bold;
	text-decoration: none;
	color:#0052c2;
	display:inline-block;
	text-transform: uppercase;
	letter-spacing: 1.6px;

	border-width: 2px;
	border-color:#0052c2;
	border-style: solid;
	border-radius: 50px;
	margin-bottom:13px;

	padding: 8px 23px;
	
	transition: 0.3s ease-out;
	
}

.button-back:hover{
	color:white;
	background-color:#0052c2;
}



				/* FOOTER START */

#footer{
	background-color: #061634;
	color:#6479a2;
	padding-top: 90px;
	padding-bottom: 190px;
	
}

.footer__container{
	max-width: 1140px;
	margin:auto;
}


.footer__row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*flex-wrap: wrap;*/
}

.footer__col{
	max-width: 360px;  /* ширина колонки в Photoshop */
	margin-right: 30px;  /* отступ справа м/у колонками в Photoshop */
}

.footer__col:last-child{
	margin-right:0px;
}


#footer p{
	margin-top:0px;/*уберем отступы сверху у абзацев от normalize*/
	margin-bottom: 15px;

}

p.footer__name{ /*выберем тег P, у которого есть класс footer__name*/
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 1.6rem;
	margin-bottom:10px;
	line-height: normal;	
}

p.footer__social{
	color: white;
	
}

p.footer__social-icons{
	color: white;
	font-size:32px;
}

p.footer__social-icons a{
	color: white;
	text-decoration: none;
	margin-right:30px;/* расстояние м/у ссылками-иконками*/

	transition: 0.3s ease-out;
}

/* у последней ссылки-иконки уберем margin-right:30px*/
p.footer__social-icons a:last-child{
	margin-right:0px;

}

p.footer__social-icons a:hover{
	color:#ffe400;
}

.footer__button{
	font-weight: bold;
	text-decoration: none;
	color: white;
	display:inline-block;
	text-transform: uppercase;
	letter-spacing: 1.6px;

	border-width: 2px;
	border-color: white; 
	border-style: solid;
	border-radius: 50px;

	padding: 8px 23px;
	margin-bottom:13px;

	transition: 0.3s ease-out;
	
}

.footer__button:hover{
	color:#061634;
	background-color: white;

}

.time{
	text-align: center;
	display: block;
	color:white;
	font-size: 1.5rem;
	font-weight: 600;
	position: absolute;
	left:10px;
	top:5px;

	border-width: 2px;
	border-color: white; 
	border-style: solid;
	border-radius: 50px;

	padding: 5px 20px;

}

.time:hover{
	color:#061634;
	background-color: white;

}


				/* MEDIA QUERIES */

/* 1-ый @media: При ШИРИНЕ экрана в 1160px и менее.
(больше - нельзя, меньше - подходит)

width container у нас 1140px, но мы взяли запас 
чтобы по бокам было по 10px
*/

@media (max-width: 1160px) {

	.container, .footer__container{
		width: 100%;
}


	.col, .footer__col {
		width:100%;	/*сделали колонки (работы) по одной в ряд одна под другой*/
		margin:0;
		margin-bottom:30px; /*чтобы картинки плотно не прилегали друг к другу*/
		padding-left: 15px; /*чтобы картинки и текст плотно не прилегали к краям экрана слева и справа*/
		padding-right: 15px;/*чтобы картинки и текст плотно не прилегали к крвям экрана слева и справа*/
		text-align: center;/*центрируем текст и картинки внутри колонок*/
 		box-sizing:border-box;/*убрать прокрутку горизонтальную, т.к.
 		width + paddidng > 100%*/
 	}

	.row, .footer__row{
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
	}

	#header{
		padding-left: 15px;
		padding-right: 15px;
	}

	.time{
		display: none;
	}

	.header__title{
		font-size: 38px;
		line-height: 48px;
		margin-bottom: 15px;
	}

	.header__slogan{
		font-size: 22px;
		line-height: 38px;
	}

	.portfolio{
		padding-top: 40px;
		padding-bottom: 50px;
	}

	.portfolio__title{
		font-size: 36px;
	}

	
	#footer{
		padding-top: 70px;
		padding-bottom: 60px;
	}

}