/* добавили 3 шрифта на страницу локально*/

@font-face{
	font-family: 'Merriweather Sans', sans-serif;
	src:url(../fonts/Merriweather_Sans/MerriweatherSans-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'PT Sans Caption', sans-serif;
	src:url(../fonts/PT_Sans_Caption/PT_Sans-Caption-Web-Bold.ttf);
	font-weight: bold;
	font-style: normal;
}

@font-face{
	font-family: 'PT Sans Caption', sans-serif;
	src:url(../fonts/PT_Sans_Caption/PT_Sans-Caption-Web-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}

html{ 
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	box-sizing:border-box;
}

/* все элементы наследуют значение свойства у родительского элемента*/
*, *:before, *:after{
	box-sizing: inherit;
}

ul, ol{
	list-style-type:none;

}

/*...............................................

	GRID

................................................*/
.container{
	max-width: 1140px;
	margin:auto;

}

.row{

}


.col{
	max-width: 360px;/* ширина колонки в Photoshop */
	margin-right: 30px;/* отступ справа м/у колонками в Photoshop */
	
/* вариант №1 - "используем float": 
шаг 1: выровним колонки в ряд с помощью float:left; */
	
	float:left;
}

/* шаг 2: тк мы задали отступ справа 30px для всех колонок,то
	по ширине последняя колонка не помещается. Уберем у ней
	отступ справа с помощью .col:last-child */
.col:last-child{
	margin-right:0px;

}

/* шаг 3: сделаем сброс от float указав родителю след-ие свойства*/
.row:after{
	content:"";
	clear: both;
	display: table;

}



				/* HEADER START */


/* фоновая картинка и необходимые свойства к ней */
#header{
	background-color: #3b4f88;
	background-image: url('../images/bg/bg-header.jpg');
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh; /*100vh - это 100% от окна, которого мы просматриваем сайт (от Браузера)*/
	
	color: white;/* цвет шрифта у текста белый*/
	text-align:center;/*отцентрировали текст по горизонтале*/

	display: flex;  /*нужен, чтобы в дальнейшем задать свойства для выровнивания всех div по вертикале*/
	flex-direction: column;
	align-items: center; /*выравнивание по вертикале*/
	justify-content: center; /*выравнивание по горизонтали*/

	position: relative;/*задали,тк стрелку позиционировали absolute*/
}

.header__title{
	font-family: 'Merriweather Sans', sans-serif;
	font-size:3rem;
	line-height: 1.7;
	margin-top: -60px;/*приподняли блок наверх*/
	margin-bottom: 20px;

}

.header__slogan{
	font-size:1.5rem;
	line-height: 1.4;

}

.header__arrow{
	font-size: 48px;
	width: 60px;
	height: 50px;
	margin-left: -30px;/*половина от width*/


	position: absolute;/*нужно,чтобы опустить стрелку вниз по центру блока-родителя header*/
	bottom: 50px;/*нужно,чтобы опустить стрелку вниз блока-родителя header*/
	left:50%;/*нужно,чтоб отцентрить. те слева отошли половину окна браузера и нарисовали стрелку*/
	
}

				/* PORTFOLIO START */

/*тк в Портфолио и Подвале есть разметка по 3 блока и каждый  
из этих длоков имеет одинаковую ширину - 
мы напишем один универсальный класс для всех шести блоков */



}



